a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: initial;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

* {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
}

blockquote,
q {
  quotes: none;
}

:root {
  --primary: #000;
  --primary-rgb: 0, 0, 0;
  --grey: #3b3b3b;
  --negative: #fff;
  --negative-rgb: 255, 255, 255;
  --accent: #ff8179;
  --h-accent: #f43b2f;
  --light-blue: #5ac4ec;
  --h-light-blue: #27b2f3;
  --alert: #e17860;
  --success: #a1d645;
  --green: #5aec78;
  --h-green: #27f351;
  --warmgreen: #d2e26b;
  --h-warmgreen: #b1d745;
  --gold: #fbe526;
  --h-gold: #e5cd00;
  --yellow: #fedb63;
  --h-yellow: #f9cd35;
  --border: var(--grey);
  --global-width: 1760px;
  --global-bg: #F1B829;
  --dark-global-bg: #ffd063;
  --blue-bg: #7ad5f7;
  --global-p-width: 480px;
  --global-padding: 20px;
  --gutter: 10px;
  --heading: "Jin Heading", sans-serif;
  --line-height: 1;
  --line-height-ratio: 1.2;
  --globall-line-height: 1.4;
  --reduced-line-height: 1.2;
  --body: "Jin Regular", sans-serif;
  --h1: 29.45vw;
  --entry-h1: 15.74vw;
  --h2: 24.5vw;
  --entry-h2: 10.9vw;
  --h3: 15.7vw;
  --entry-h3: 8.4vw;
  --h4: 54px;
  --h5: 54px;
  --h6: 54px;
  --p: 16px;
  --p-increased: 17px;
  --small: 73%;
  --rate: 0.85;
  --large-radius: 20px;
  --v-small: 20px;
  --v-medium: 50px;
  --v-large: 150px;
  --t-spacer: 11.5vh;
  --btn-huge: 18px;
  --btn-large: 14px;
  --btn-small: 16px;
  --btn-tiny: 12px;
  --btn-radius: 150px;
  --btn-radius-small: 10px;
  --btn-padding: 15px 37.5px;
  --btn-padding-sq: 15px;
  --btn-small-padding: 10.83333px 20.83333px;
  --btn-tiny-padding: 7.5px 11.66667px;
  --btn-padding-opt: 18.33333px 9.16667px;
}

@media (min-width: 768px) {
  :root {
    --gutter: 15px;
    --h3: 13.7vw;
    --entry-h3: 7.32vw;
    --h4: 54px;
    --v-small: 30px;
    --v-medium: 60px;
    --v-large: 23vh;
    --btn-large: 18px;
    --btn-padding: 25px 33px;
    --btn-padding-sq: 25px;
    --btn-small-padding: 13px 25px;
    --btn-tiny-padding: 9px 14px;
    --btn-padding-opt: 22px 11px;
  }
}

@media (min-width: 1024px) {
  :root {
    --gutter: 30px;
    --h1: 13.64vw;
    --entry-h1: 7.29vw;
    --h2: 11.5vw;
    --entry-h2: 5.125vw;
    --h3: 8.4vw;
    --entry-h3: 4.5vw;
    --h4: 3.85vw;
    --p-increased: 20px;
    --btn-huge: 2.4vw;
    --v-small: 30px;
    --v-medium: 60px;
    --v-large: 23vh;
  }
}

@media (min-width: 1921px) {
  :root {
    --h1: 262px;
    --entry-h1: 262px;
    --h2: 220px;
    --entry-h2: 98px;
    --h3: 161px;
    --entry-h3: 86px;
    --h4: 74px;
    --btn-huge: 46px;
    --v-large: 150px;
    --t-spacer: 200px;
  }
}

@font-face {
  font-display: swap;
  font-family: Jin Heading;
  font-style: normal;
  font-weight: 700;
  src: url(../media/Jin-heading.c392efb563f31d556b49.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Jin Regular;
  font-style: normal;
  font-weight: 400;
  src: url(../media/Jin-reg.ed22bf69765d6cea7591.woff) format("woff");
}

h1,
h2,
h3,
h4 {
  color: var(--negative);
  font-family: var(--heading);
  font-weight: 600;
  text-transform: uppercase;
}

h1,
h2 {
  text-shadow: 7px 7px 0 #000, -3px -3px 0 #000, -3px 3px 0 #000,
    3px -3px 0 #000, 3px 3px 0 #000;
}

h3,
h4 {
  text-shadow: 6px 6px 0 #000, -3px -3px 0 #000, -3px 3px 0 #000,
    3px -3px 0 #000, 3px 3px 0 #000;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: var(--small);
}

h1,
h2 {
  margin-bottom: var(--v-small);
}

h1 {
  font-size: var(--h1);
  line-height: calc(var(--h1) / var(--line-height-ratio));
}

.entry h1 {
  font-size: var(--entry-h1);
  line-height: calc(var(--entry-h1) / var(--line-height-ratio));
}

h2 {
  font-size: var(--h2);
}

.entry h2 {
  font-size: var(--entry-h2);
  line-height: calc(var(--entry-h2) / var(--line-height-ratio));
}

h3 {
  font-size: var(--h3);
  line-height: calc(var(--h3) / var(--line-height-ratio));
}

h4 {
  font-size: var(--h4);
  line-height: var(--h4);
}

h5 {
  font-size: var(--p-increased);
  text-transform: uppercase;
  white-space: normal;
}

h6 {
  font-size: var(--h6);
}

p.increased {
  font-size: var(--p-increased);
}

.blue {
  color: var(--light-blue);
}

.pink {
  color: var(--accent);
}

.white {
  color: var(--negative);
}

.yellow {
  color: var(--yellow);
}

.caps {
  text-transform: uppercase;
}

::selection {
  background: var(--accent);
  color: var(--negative);
}

::-moz-selection {
  background: var(--accent);
  color: var(--negative);
}

@media (min-width: 768px) {
  h1,
  h2,
  h3 {
    text-shadow: 10px 10px 0 #000, -3px -3px 0 #000, -3px 3px 0 #000,
      3px -3px 0 #000, 3px 3px 0 #000;
  }
}

button {
  all: unset;
  cursor: pointer;
  font-family: var(--body);
  transition: all 0.2s ease-in-out;
}

button:hover {
  transition: all 0.3s ease-in-out;
}

.btn-group {
  display: flex;
}

.btn-group.spaceless .btn {
  margin-top: 0;
}

.btn-group .btn:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}

.btn {
  border: 3px solid var(--primary);
  border-radius: var(--btn-radius);
  color: inherit;
  cursor: pointer;
  font-family: var(--body);
  font-size: var(--btn-large);
  line-height: 1;
  padding: var(--btn-padding);
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.btn,
.btn:after,
.btn:before {
  transition: all 0.2s ease-in-out;
}

.btn:after,
.btn:before {
  background-color: var(--negative);
  border-radius: inherit;
  content: "";
  display: block;
  height: 7px;
  position: absolute;
  top: 5px;
}

.btn:hover:after,
.btn:hover:before {
  margin-left: 7px;
}

.btn:before {
  left: 25px;
  width: 39px;
}

.btn:after {
  left: 71px;
  width: 7px;
}

.btn:not(.spaceless) {
  margin-top: var(--v-medium);
}

.btn:hover {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.btn.small {
  font-size: var(--btn-small);
  padding: var(--btn-small-padding);
}

.btn.huge {
  font-size: var(--btn-huge);
}

.btn.huge:before {
  left: 55px;
}

.btn.huge:after {
  left: 100px;
}

.btn-tiny {
  font-size: var(--btn-tiny);
  padding: var(--btn-tiny-padding);
}

.btn.primary,
.btn.secondary {
  color: var(--primary);
}

.btn.primary {
  background-color: var(--accent);
  box-shadow: inset 0 0 0 9px var(--h-accent);
}

.btn.primary:hover {
  box-shadow: inset 0 0 0 5px var(--h-accent);
}

.btn.secondary {
  background-color: var(--light-blue);
  box-shadow: inset 0 0 0 9px var(--h-light-blue);
}

.btn.secondary:hover {
  box-shadow: inset 0 0 0 5px var(--h-light-blue);
}

.btn.secondary.active {
  background-color: var(--green);
  box-shadow: inset 0 0 0 9px var(--h-green);
}

.btn.hollow {
  background-color: initial;
  color: var(--primary);
}

[data-theme="negative"] .btn.hollow {
  color: var(--negative);
}

.btn.hollow:hover {
  -webkit-animation: hollowPulse 1s;
  animation: hollowPulse 1s;
  background-color: rgba(var(--primary-rgb), 0.1);
}

[data-theme="negative"] .btn.hollow:hover {
  -webkit-animation: hollowPulseNegative 1s;
  animation: hollowPulseNegative 1s;
  background-color: rgba(var(--negative-rgb), 0.1);
}

.btn.outline {
  background-color: initial;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.btn.outline:hover {
  -webkit-animation: blackPulse 1s;
  animation: blackPulse 1s;
  background-color: var(--primary);
  color: var(--negative);
}

[data-ico] {
  display: block;
  height: 18px;
  position: relative;
  width: 18px;
}

[data-ico]:before {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

[data-ico="tg"]:before {
  background-image: url(../media/tg.4d965cbeb1f12dc53d79.svg);
}

[data-ico="tw"]:before {
  background-image: url(../media/tw.5038275adce00a24816d.svg);
}

[data-ico="sound"] {
  height: 29px;
  width: 29px;
}

[data-ico="sound"]:before {
  background-image: url(../media/sound.154cdbf5f6cd0c9f7d67.svg);
}

@media (min-width: 1024px) {
  [data-ico] {
    height: 26px;
    width: 26px;
  }
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--accent);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--accent);
  }
}

@-webkit-keyframes whitePulse {
  0% {
    box-shadow: 0 0 0 0 var(--negative);
  }
}

@keyframes whitePulse {
  0% {
    box-shadow: 0 0 0 0 var(--negative);
  }
}

@-webkit-keyframes blackPulse {
  0% {
    box-shadow: 0 0 0 0 var(--primary);
  }
}

@keyframes blackPulse {
  0% {
    box-shadow: 0 0 0 0 var(--primary);
  }
}

@-webkit-keyframes hollowPulse {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--primary-rgb), 0.2);
  }
}

@keyframes hollowPulse {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--primary-rgb), 0.2);
  }
}

@-webkit-keyframes hollowPulseNegative {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--negative-rgb), 0.2);
  }
}

@keyframes hollowPulseNegative {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--negative-rgb), 0.2);
  }
}

@-webkit-keyframes wiggle {
  0%,
  7% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  15% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  20% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  30% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
  }
  35% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  40%,
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@keyframes wiggle {
  0%,
  7% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  15% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  20% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  30% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
  }
  35% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  40%,
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@-webkit-keyframes shake {
  0%,
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@-webkit-keyframes bounce {
  70% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(-15%);
    transform: translateY(-15%);
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  95% {
    -webkit-transform: translateY(-7%);
    transform: translateY(-7%);
  }
  97% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  99% {
    -webkit-transform: translateY(-3%);
    transform: translateY(-3%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  70% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(-15%);
    transform: translateY(-15%);
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  95% {
    -webkit-transform: translateY(-7%);
    transform: translateY(-7%);
  }
  97% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  99% {
    -webkit-transform: translateY(-3%);
    transform: translateY(-3%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes beat {
  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@keyframes beat {
  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@-webkit-keyframes glare {
  0%,
  15% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
  85%,
  to {
    opacity: 0;
  }
}

@keyframes glare {
  0%,
  15% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
  85%,
  to {
    opacity: 0;
  }
}

@-webkit-keyframes clouds {
  0% {
    -webkit-transform: translate(10%, 10%);
    transform: translate(10%, 10%);
  }
  50% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  to {
    -webkit-transform: translate(10%, 10%);
    transform: translate(10%, 10%);
  }
}

@keyframes clouds {
  0% {
    -webkit-transform: translate(10%, 10%);
    transform: translate(10%, 10%);
  }
  50% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  to {
    -webkit-transform: translate(10%, 10%);
    transform: translate(10%, 10%);
  }
}

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--global-bg);
  display: block;
  font-family: var(--body);
  font-size: var(--p);
  line-height: var(--globall-line-height);
  overflow-x: hidden;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

[data-theme="positive"],
body {
  color: var(--primary);
}

[data-theme="negative"] {
  color: var(--negative);
}

#root {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--global-width);
  padding: 0 var(--global-padding);
}

#root > :not(.exclude):not(.fw) {
  width: 100%;
}

.grid-x {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: calc(var(--gutter) * -1);
  margin-right: calc(var(--gutter) * -1);
}

.grid-x.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.grid-x.justify,
.justify {
  justify-content: space-between;
}

.align-center,
.grid-x.align-center {
  justify-content: center;
}

.grid-x.stretch,
.stretch {
  align-items: stretch;
}

.align-middle,
.grid-x.align-middle {
  align-items: center;
}

.grid-x > hr {
  border-color: var(--border);
  margin-left: var(--gutter);
  margin-right: var(--gutter);
  width: 100%;
}

.grid-x > hr:first-child {
  margin-bottom: var(--v-small);
}

.grid-x > hr:last-child {
  margin-top: var(--v-small);
}

.cell-10,
.cell-12,
.cell-3,
.cell-4,
.cell-5,
.cell-6,
.cell-7,
.cell-8,
.cell-9 {
  margin-left: var(--gutter);
  margin-right: var(--gutter);
  width: 100%;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.self-top {
  align-self: start;
}

.self-middle {
  align-self: center;
}

.self-bottom {
  align-self: end;
}

.large-border {
  border-radius: var(--large-radius);
}

.break {
  flex-basis: 100%;
  height: 0;
}

.fw {
  margin-left: calc(var(--global-padding) * -1);
  margin-right: calc(var(--global-padding) * -1);
  width: calc(var(--global-padding) * 2 + 100%);
}

.in-box {
  border: 3px solid var(--primary);
  position: relative;
}

.in-box:after,
.in-box:before {
  background-color: var(--negative);
  border-radius: inherit;
  content: "";
  display: block;
  height: 7px;
  position: absolute;
  top: 5px;
}

.in-box:before {
  left: calc(10% + 25px);
  width: 39px;
}

.in-box:after {
  left: calc(10% + 71px);
  width: 7px;
}

.in-box.pink-box {
  background-color: var(--accent);
  box-shadow: inset 0 0 0 9px var(--h-accent);
}

.in-box.blue-box {
  background-color: var(--light-blue);
  box-shadow: inset 0 0 0 9px var(--h-light-blue);
}

.bubble {
  align-items: center;
  background-color: var(--negative);
  border: 3px solid var(--primary);
  border-radius: var(--btn-radius-small);
  display: flex;
  padding: 8px 15px;
}

.bubble:after,
.bubble:before {
  content: "";
  display: block;
  position: absolute;
}

.bubble.right:after,
.bubble.right:before {
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.bubble.right:after {
  border-color: transparent transparent transparent var(--negative);
  border-style: solid;
  border-width: 13px 0 13px 13px;
  height: 0;
  width: 0;
}

.bubble.right:before {
  border-color: transparent transparent transparent var(--primary);
  border-style: solid;
  border-width: 16px 0 16px 16px;
  height: 0;
  width: 0;
}

.bubble.bottom:after,
.bubble.bottom:before {
  left: 50%;
  margin-top: -3px;
  top: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.bubble.bottom:before {
  border-color: var(--primary) transparent transparent transparent;
  border-style: solid;
  border-width: 16px 16px 0;
  height: 0;
  width: 0;
}

.bubble.bottom:after {
  border-color: var(--negative) transparent transparent transparent;
  border-style: solid;
  border-width: 13px 13px 0;
  height: 0;
  width: 0;
}

.bubble .btn {
  margin-right: 10px;
  margin-top: 0;
  padding: var(--btn-padding-sq);
}

.bubble .btn:before {
  width: 12px;
}

.bubble .btn:after {
  left: 40px;
}

.circle {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 32px;
  justify-content: center;
  width: 32px;
}

.highlight {
  background-color: var(--global-bg);
}

.logo {
  display: block;
  overflow: hidden;
  position: relative;
}

.logo:before {
  background-image: url(../media/logo.png);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

@media (max-width: 1024px) {
  #root {
    overflow-x: hidden;
  }

  .show-for-large {
    display: none;
  }
}

@media (min-width: 1024px) {
  .cell-3 {
    width: calc(25% - var(--gutter) * 2);
  }

  .cell-4 {
    width: calc(33.33333% - var(--gutter) * 2);
  }

  .cell-5 {
    width: calc(41.66667% - var(--gutter) * 2);
  }

  .cell-6 {
    width: calc(50% - var(--gutter) * 2);
  }

  .cell-7 {
    width: calc(58.33333% - var(--gutter) * 2);
  }

  .cell-8 {
    width: calc(66.66667% - var(--gutter) * 2);
  }

  .cell-9 {
    width: calc(75% - var(--gutter) * 2);
  }

  .cell-10 {
    width: calc(83.33333% - var(--gutter) * 2);
  }

  .cell-12 {
    width: calc(100% - var(--gutter) * 2);
  }

  .circle {
    height: 50px;
    width: 50px;
  }

  .large-text-right {
    text-align: right;
  }
}

@media (min-width: 1760px) {
  .fw {
    margin-left: calc(((100vw - 1760px) / 2 + var(--global-padding)) * -1);
    margin-right: calc(((100vw - 1760px) / 2 + var(--global-padding)) * -1);
    width: calc(100% + 100vw - 1760px + var(--global-padding) * 2);
  }
}

#root > :not(.spaceless) {
  margin-bottom: var(--v-large);
}

#root > * > .grid-x:not(:last-child):not(.spaceless) {
  margin-bottom: var(--v-medium);
}

.h-split .cnt-txt {
  position: relative;
  z-index: 1;
}

.h-split .cnt {
  width: 100%;
}

.h-split .cnt-img {
  position: relative;
  z-index: 0;
}

.h-split .cnt-img > :first-child {
  margin-left: -35%;
  pointer-events: none;
  width: 140%;
  z-index: -1;
}

.clouds,
.doge,
.glare1,
.glare2,
.glare3 {
  position: absolute;
}

.h-split .cnt-img .doge {
  -webkit-animation: wiggle 2s ease infinite;
  animation: wiggle 2s ease infinite;
  right: -7.4%;
  top: 16%;
  width: 12.5%;
}

.h-split .cnt-img .clouds {
  -webkit-animation: clouds 4s ease-in-out infinite;
  animation: clouds 4s ease-in-out infinite;
  right: 17.6%;
  top: 36.9%;
  width: 53.8%;
}

.h-split .cnt-img .glare1 {
  -webkit-animation: glare 4s ease-in-out infinite;
  animation: glare 4s ease-in-out infinite;
  right: 53.4%;
  top: 6.4%;
  width: 9%;
}

.h-split .cnt-img .glare2 {
  -webkit-animation: glare 4s ease-in-out 1.5s infinite;
  animation: glare 4s ease-in-out 1.5s infinite;
  right: 5.6%;
  top: 22.9%;
  width: 8.4%;
}

.h-split .cnt-img .glare3 {
  -webkit-animation: glare 4s ease-in-out 0.75s infinite;
  animation: glare 4s ease-in-out 0.75s infinite;
  right: 33.6%;
  top: 35.5%;
  width: 16.1%;
}

.h-split .speach {
  position: absolute;
}

.h-split .speach .pfp {
  -webkit-animation: bounce 2s ease infinite;
  animation: bounce 2s ease infinite;
}

.h-split .speach {
  right: 0;
  top: 60%;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.h-split .speach .pfp + .bubble {
  position: absolute;
  right: calc(100% + 10px);
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .h-split .cnt-img > :first-child {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .h-split .cnt-txt {
    margin-bottom: var(--v-medium);
  }

  .h-split .cnt-contr > div {
    display: flex;
    height: 1px;
    max-height: 1px;
  }

  .h-split .cnt-contr > div > p {
    margin-right: 10px;
  }
}

@media (min-width: 1024px) {
  .h-split .cnt p {
    max-width: 75%;
  }

  .h-split .cnt-contr,
  .h-split .cnt-txt {
    height: 1px;
    max-height: 1px;
  }

  .h-split .cnt-contr {
    display: flex;
    font-size: var(--p-increased);
    justify-content: flex-end;
    text-align: right;
  }

  .h-split .cnt-img {
    padding-left: 5%;
    padding-right: 5%;
  }

  .h-split .speach {
    top: calc(100vh - 143px - var(--gutter) * 2);
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .h-split .cell-4 {
    width: calc(41.66667% - var(--gutter) * 2);
  }

  .h-split .cell-8 {
    width: calc(58.33333% - var(--gutter) * 2);
  }
}

[data-ico="clipboard"] {
  margin-left: calc(var(--gutter) / 3);
}

[data-ico="clipboard"]:before {
  background-image: url(../media/clipboard.166dd6f80c405da32b42.svg);
}

.clipboard {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
}

.clipboard:hover {
  text-decoration: underline;
}

.contractCopy {
  position: relative;
  z-index: 2;
}

.contractCopy .message {
  background-color: var(--success);
  border-radius: var(--btn-radius);
  bottom: 100%;
  font-size: var(--btn-tiny);
  left: 50%;
  padding: var(--btn-tiny-padding);
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 640px) {
  .clipboard .reduced {
    display: inline-block;
    max-width: 220px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
  }
}

.about {
  position: relative;
}

.about:after,
.about:before {
  content: "";
  display: block;
  left: 0;
  margin-left: calc(var(--global-padding) * -1);
  margin-right: calc(var(--global-padding) * -1);
  position: absolute;
  width: calc(var(--global-padding) * 2 + 100%);
  z-index: -1;
}

.about:before {
  background-image: url(../media/aboutpattern.281089cad86e5187d5b3.svg);
  background-position: 0;
  background-repeat: repeat;
  height: 20px;
  top: 200px;
}

.about:after {
  background-color: white;
  height: calc(100% - 220px);
  top: 220px;
}

.about h2 {
  font-size: 28.4vw;
  line-height: calc(28.4vw / var(--line-height-ratio));
  margin-bottom: var(--v-medium);
}

.about h3 {
  margin-bottom: var(--v-small);
  margin-top: -5%;
  position: relative;
}

.about h3 + p {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.about .in-box {
  border-radius: 24px;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding-bottom: var(--v-small);
}

.about .side {
  display: none;
}

.comp .speach {
  left: 3%;
  position: absolute;
  top: -7%;
}

.comp .speach .bubble:after,
.comp .speach .bubble:before {
  margin-left: -3px;
}

.map {
  position: relative;
}

.char1,
.char2,
.char3 {
  position: absolute;
  width: 28.7%;
}

.char1 {
  -webkit-animation: beat 0.25s infinite alternate;
  animation: beat 0.25s infinite alternate;
  left: 13%;
  top: 27%;
}

.char2 {
  -webkit-animation: beat 0.25s 0.1s infinite alternate;
  animation: beat 0.25s 0.1s infinite alternate;
  left: 24%;
  top: 49%;
}

.char3 {
  -webkit-animation: beat 0.25s 0.2s infinite alternate;
  animation: beat 0.25s 0.2s infinite alternate;
  left: 56%;
  top: 41%;
}

.details {
  display: flex;
  flex-flow: row wrap;
}

.info {
  order: 2;
}

.photo {
  display: flex;
  justify-content: center;
  margin-top: -15%;
  order: 1;
}

.frame {
  background-color: var(--negative);
  border: 3px solid var(--primary);
  border-radius: 14px;
  padding: 20px;
  position: relative;
}

.photo figure {
  border: 3px solid var(--primary);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.photo figure img {
  display: block;
}

.photo .cnt-txt {
  position: relative;
}

.photo .cnt-txt h4 {
  margin-bottom: var(--v-small);
  margin-top: calc(var(--v-small) * -1);
}

.farm {
  width: 100%;
}

.dogecloud {
  -webkit-animation: clouds 4s ease-in-out infinite;
  animation: clouds 4s ease-in-out infinite;
  position: absolute;
  right: 11%;
  top: 2%;
  width: 19.5%;
}

.infobreak {
  width: 100%;
}

.points li {
  margin-bottom: var(--v-small);
  padding-left: 40px;
  position: relative;
}

.points li:hover:after {
  margin-top: 7px;
  transition: all 0.3s ease-in-out;
}

.points li:after,
.points li:before {
  content: "";
  display: block;
  position: absolute;
}

.points li:before {
  border: 3px solid var(--primary);
  border-radius: 14px;
  height: 72px;
  left: 0;
  top: 0;
  width: 22px;
}

.points li:nth-child(odd):before {
  background-color: var(--light-blue);
  box-shadow: inset 0 0 0 6px var(--h-light-blue);
}

.points li:nth-child(2n):before {
  background-color: var(--accent);
  box-shadow: inset 0 0 0 6px var(--h-accent);
}

.points li:after {
  background-color: var(--negative);
  border-radius: 50%;
  height: 7px;
  left: 6px;
  top: 15px;
  transition: all 0.2s ease-in-out;
  width: 7px;
}

.mass-cta {
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .comp .speach .bubble.right:after,
  .comp .speach .bubble.right:before {
    left: 50%;
    margin-top: -3px;
    top: 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .comp .speach .bubble.right:before {
    border-color: var(--primary) transparent transparent transparent;
    border-style: solid;
    border-width: 16px 16px 0;
    height: 0;
    width: 0;
  }

  .comp .speach .bubble.right:after {
    border-color: var(--negative) transparent transparent transparent;
    border-style: solid;
    border-width: 13px 13px 0;
    height: 0;
    width: 0;
  }
}

@media (min-width: 768px) {
  .about h2 {
    font-size: 24.4vw;
    line-height: calc(24.4vw / var(--line-height-ratio));
  }

  .about .in-box {
    border-radius: var(--btn-radius);
  }

  .about h3 + p {
    padding-left: 20%;
    padding-right: 20%;
  }

  .about h3 + p span {
    display: block;
    position: relative;
  }

  .about h3 + p span:after,
  .about h3 + p span:before {
    background-color: var(--primary);
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 12%;
  }

  .about h3 + p span:before {
    right: calc(100% + 20px);
  }

  .about h3 + p span:after {
    left: calc(100% + 20px);
  }

  .comp .speach {
    left: 10%;
    position: absolute;
    top: 32%;
  }

  .char1,
  .char2,
  .char3 {
    position: absolute;
    width: 15.7%;
  }

  .char1 {
    left: 33%;
    top: 31%;
  }

  .char2 {
    left: 24%;
    top: 49%;
  }

  .char3 {
    left: 46%;
    top: 41%;
  }

  .photo {
    margin-top: -35%;
  }
}

@media (max-width: 1023px) {
  .about {
    padding-bottom: var(--v-large);
  }

  .photo {
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: rotate(-14deg);
    transform: rotate(-14deg);
  }

  .frame {
    max-width: 480px;
  }
}

@media (min-width: 1024px) {
  .about .side {
    display: block;
    width: 17.6vw;
  }

  .about h3 + p {
    padding-left: 20%;
    padding-right: 20%;
  }

  .about h2 {
    font-size: 21.4vw;
    line-height: calc(21.4vw / var(--line-height-ratio));
  }

  .map {
    margin-left: 8.33333%;
    max-width: 970px;
  }

  .comp .speach {
    left: -4%;
    top: 32%;
  }

  .char1,
  .char2,
  .char3 {
    width: 12.7%;
  }

  .char1 {
    left: 43%;
    top: 31%;
  }

  .char2 {
    left: 44%;
    top: 49%;
  }

  .char3 {
    left: 66%;
    top: 41%;
  }

  .details {
    align-items: center;
    justify-content: space-around;
  }

  .info {
    order: 1;
    width: 33.33333%;
  }

  .photo {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    margin-top: -25%;
    order: 2;
  }

  .photo figure {
    border-radius: 16px;
  }

  .frame {
    border-radius: 28px;
    max-width: 540px;
    padding: 40px;
  }

  .points li {
    padding-left: 60px;
  }

  .over .cell-9 {
    width: calc(100% - var(--gutter) * 2);
  }
}

@media (min-width: 1280px) {
  .frame {
    max-width: 720px;
  }

  .over .cell-9 {
    width: calc(100% - var(--gutter) * 2);
  }
}

@media (min-width: 1760px) {
  .about:after,
  .about:before {
    margin-left: calc(((100vw - 1760px) / 2 + var(--global-padding)) * -1);
    margin-right: calc(((100vw - 1760px) / 2 + var(--global-padding)) * -1);
    width: calc(100% + 100vw - 1760px + var(--global-padding) * 2);
  }
}

@media (min-width: 1921px) {
  .about h2 {
    font-size: 410px;
    line-height: calc(410px / var(--line-height-ratio));
  }
}

#tokenomics {
  position: relative;
}

#tokenomics:before {
  background-color: #fff;
  content: "";
  display: block;
  height: calc(100% + var(--v-large) * 2);
  left: 0;
  margin-left: calc(var(--global-padding) * -1);
  margin-right: calc(var(--global-padding) * -1);
  position: absolute;
  top: calc(var(--v-large) * -1);
  width: calc(var(--global-padding) * 2 + 100%);
  z-index: -1;
}

#tokenomics .over {
  position: relative;
  z-index: 1;
}

#tokenomics .card {
  background-color: var(--negative);
  border: 3px solid var(--primary);
  border-radius: 40px;
  padding: 40px;
  position: relative;
}

#tokenomics .sides {
  display: none;
}

#tokenomics .card .data {
  display: flex;
  justify-content: space-between;
}

#tokenomics .in-box {
  border-radius: 10px;
  color: var(--primary);
  padding: 20px;
  width: 300px;
}

#tokenomics .in-box .massive {
  display: block;
  font-size: 11.5vw;
  line-height: 10.45455vw;
  text-align: center;
}

#tokenomics .in-box .increased {
  font-size: var(--p-increased);
  text-transform: uppercase;
}

#tokenomics .in-box.blue {
  background-color: var(--light-blue);
  box-shadow: inset 0 0 0 9px var(--h-light-blue);
}

#tokenomics .in-box.pink {
  background-color: var(--accent);
  box-shadow: inset 0 0 0 9px var(--h-accent);
}

#tokenomics .card .farmer {
  margin-bottom: -35%;
  margin-top: -15%;
  position: relative;
}

#tokenomics .card .farmer > img {
  width: 100%;
}

#tokenomics .card .farmer .speach {
  position: absolute;
  right: 50%;
  top: 26%;
}

#tokenomics .card .farmer .speach .bubble:after,
#tokenomics .card .farmer .speach .bubble:before {
  margin-left: -3px;
}

#tokenomics .card .contractCopy {
  display: flex;
  justify-content: center;
  margin-bottom: var(--v-small);
  margin-top: var(--v-small);
}

#tokenomics .spinner {
  display: block;
  margin-left: 0;
  margin-right: 0;
  pointer-events: none;
  position: absolute;
  width: 280%;
  z-index: 0;
}

#tokenomics .wheel {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

#tokenomics .wheel img {
  -webkit-animation: rotation 20s linear infinite;
  animation: rotation 20s linear infinite;
  width: 100%;
}

#tokenomics .title {
  left: -12%;
  max-width: 124%;
  position: relative;
  width: 124%;
}

#tokenomics .clipboard.v-medium {
  margin-bottom: 0 !important;
}

#tokenomics .card .cnt-txt h3 {
  align-items: center;
  display: flex;
  justify-content: center;
}

#tokenomics .card .cnt-txt h3 img {
  -webkit-animation: wiggle 2s ease infinite;
  animation: wiggle 2s ease infinite;
  width: 40px;
}

#tokenomics .card .cnt-txt p {
  font-size: var(--p-increased);
  margin-bottom: var(--v-medium);
}

@media (min-width: 768px) {
  #tokenomics .sides {
    display: block;
  }

  #tokenomics .sides > * {
    background-color: var(--dark-global-bg);
    border: 3px solid var(--primary);
    border-radius: 50%;
    height: 42px;
    position: absolute;
    width: 42px;
  }

  #tokenomics .sides span:first-child {
    left: 30px;
    top: 30px;
  }

  #tokenomics .sides span:nth-child(2) {
    right: 30px;
    top: 30px;
  }

  #tokenomics .sides span:nth-child(3) {
    bottom: 30px;
    right: 30px;
  }

  #tokenomics .sides span:nth-child(4) {
    bottom: 30px;
    left: 30px;
  }

  #tokenomics .spinner {
    width: 160%;
  }

  #tokenomics .card .farmer {
    margin-bottom: -35%;
    margin-top: -20%;
  }

  #tokenomics .card .farmer > img {
    margin-left: 0;
    width: 75%;
  }

  #tokenomics .card .farmer .speach {
    right: 64%;
    top: 30%;
  }
}

@media (max-width: 1023px) {
  #tokenomics {
    padding-bottom: var(--v-large);
  }

  #tokenomics .spinner {
    left: 50%;
    top: calc(50% - var(--v-large) / 2);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 1024px) {
  #tokenomics .spinner {
    margin-left: calc(var(--global-padding) * -1);
    margin-right: calc(var(--global-padding) * -1);
    position: relative;
    width: calc(var(--global-padding) * 2 + 100%);
  }

  #tokenomics .card .cnt-txt h3 img {
    width: 3.9vw;
  }

  #tokenomics .over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 80%;
  }

  #tokenomics .sides > * {
    height: 54px;
    width: 54px;
  }

  #tokenomics .sides span:first-child {
    left: 40px;
    top: 40px;
  }

  #tokenomics .sides span:nth-child(2) {
    right: 40px;
    top: 40px;
  }

  #tokenomics .sides span:nth-child(3) {
    bottom: 40px;
    right: 40px;
  }

  #tokenomics .sides span:nth-child(4) {
    bottom: 40px;
    left: 40px;
  }

  #tokenomics .card {
    border-radius: 82px;
    padding: 80px;
  }

  #tokenomics .in-box {
    width: 25.9%;
  }

  #tokenomics .card .farmer {
    margin-bottom: -40%;
  }

  #tokenomics .card .farmer .speach {
    right: 64%;
    top: 30%;
  }

  #tokenomics .card .farmer {
    margin-bottom: -35%;
    margin-top: -20%;
  }

  #tokenomics .card .farmer img {
    width: 60%;
  }

  #tokenomics .in-box .massive {
    font-size: 11.5vw;
    line-height: 10.45455vw;
  }
}

@media (min-width: 1760px) {
  #tokenomics .spinner,
  #tokenomics:before {
    margin-left: calc(((100vw - 1760px) / 2 + var(--global-padding)) * -1);
    margin-right: calc(((100vw - 1760px) / 2 + var(--global-padding)) * -1);
    width: calc(100% + 100vw - 1760px + var(--global-padding) * 2);
  }
}

@media (min-width: 1921px) {
  #tokenomics .in-box .massive {
    font-size: 220px;
  }

  #tokenomics .card .cnt-txt h3 img {
    width: 73px;
  }

  #tokenomics .in-box {
    width: 250px;
  }
}

#roadmap {
  position: relative;
}

#roadmap:after,
#roadmap:before {
  content: "";
  display: block;
  left: 0;
  margin-left: calc(var(--global-padding) * -1);
  margin-right: calc(var(--global-padding) * -1);
  position: absolute;
  width: calc(var(--global-padding) * 2 + 100%);
  z-index: -1;
}

#roadmap:before {
  background-image: url(../media/roadmappattern.7e13208640bec3281a88.svg);
  background-position: 0;
  background-repeat: repeat;
  height: 20px;
  top: -20px;
}

#roadmap:after {
  background-color: var(--warmgreen);
  height: calc(100% + var(--v-large) + var(--v-large) / 2);
  top: 0;
}

.ribbon {
  display: flex;
  justify-content: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.roadsteps {
  margin-top: var(--v-large);
  position: relative;
}

.roadpath {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}

.roadpath,
.roadpath img {
  height: 100%;
  width: 100%;
}

.steplist {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  -webkit-transform: translateY(calc(var(--v-large) / -2));
  transform: translateY(calc(var(--v-large) / -2));
  z-index: 1;
}

.steplist img {
  width: 100%;
}

.steplist .speach {
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  position: relative;
}

.steplist .bubble {
  display: block;
  padding-left: 60px;
}

.steplist .bubble ul {
  padding-left: 24px;
}

.steplist .bubble ul:after,
.steplist .bubble ul:before {
  content: "";
  display: block;
  position: absolute;
}

.steplist .bubble ul:before {
  border: 3px solid var(--primary);
  border-radius: 14px;
  height: 72px;
  left: 15px;
  top: 8px;
  width: 22px;
}

.steplist > li:nth-child(odd) .bubble ul:before {
  background-color: var(--light-blue);
  box-shadow: inset 0 0 0 6px var(--h-light-blue);
}

.steplist > li:nth-child(2n) .bubble ul:before {
  background-color: var(--accent);
  box-shadow: inset 0 0 0 6px var(--h-accent);
}

.steplist .bubble ul:after {
  background-color: var(--negative);
  border-radius: 50%;
  height: 7px;
  left: 21px;
  top: 23px;
  transition: all 0.2s ease-in-out;
  width: 7px;
}

.steplist .bubble ul li {
  margin-bottom: 5px;
  position: relative;
  white-space: normal;
  max-width: 100%;
}
.steplist li {
  white-space: normal;
  max-width: 100%;
}

.steplist .bubble ul li:before {
  border: 1px solid var(--primary);
  border-radius: 50%;
  content: "";
  display: block;
  height: 14px;
  left: -24px;
  position: absolute;
  top: 2px;
  width: 14px;
  z-index: 0;
}

.steplist .fin:before {
  background-color: var(--success);
}

.steplist .cur:before {
  background-color: var(--global-bg);
}

@media (max-width: 1023px) {
  .roadpath {
    margin-left: calc(var(--global-padding) * -1);
    margin-right: calc(var(--global-padding) * -1);
    width: calc(var(--global-padding) * 2 + 100%);
  }

  .roadpath img {
    object-fit: cover;
  }
  .cell-8.cnt-contr {
    display: none;
  }
  .cell-12 cnt-img .flicehand {
    left: 10%;
    position: relative;
  }
  .mass-cta {
    margin-bottom: 30vw;
  }
}

@media (min-width: 1024px) {
  .steplist > li {
    width: 50%;
  }

  .steplist > li:nth-child(2n) {
    position: relative;
    top: var(--v-medium);
  }

  .steplist img {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

@media (min-width: 1760px) {
  #roadmap:after,
  #roadmap:before {
    margin-left: calc(((100vw - 1760px) / 2 + var(--global-padding)) * -1);
    margin-right: calc(((100vw - 1760px) / 2 + var(--global-padding)) * -1);
    width: calc(100% + 100vw - 1760px + var(--global-padding) * 2);
  }
}

.promo {
  position: relative;
}

.promo:before {
  background-image: url(../media/promopattern.502aaa8893656421d58f.svg);
  background-position: 0;
  background-repeat: repeat;
  height: 20px;
  z-index: -1;
}

.promo:after,
.promo:before {
  content: "";
  display: block;
  left: 0;
  margin-left: calc(var(--global-padding) * -1);
  margin-right: calc(var(--global-padding) * -1);
  position: absolute;
  top: calc(var(--v-large) / 2 - 20px);
  width: calc(var(--global-padding) * 2 + 100%);
}

.promo:after {
  background-color: #C8102E;
  height: calc(100% + var(--v-large));
  z-index: -2;
}

.promo h3 {
  font-size: var(--h1);
  line-height: calc(var(--h1) / var(--line-height-ratio));
}

.promo .btn {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

@media (min-width: 1760px) {
  .promo:after,
  .promo:before {
    margin-left: calc(((100vw - 1760px) / 2 + var(--global-padding)) * -1);
    margin-right: calc(((100vw - 1760px) / 2 + var(--global-padding)) * -1);
    width: calc(100% + 100vw - 1760px + var(--global-padding) * 2);
  }
}

.ntf {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  margin: 0 var(--gutter);
  max-width: calc(100% - var(--gutter) * 2);
  position: fixed;
  transition: all 0.2s ease-in-out;
  z-index: 999;
}

.ntf.hidden {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s ease-in-out;
}

.ntf .wrap {
  background-color: var(--negative);
  border: 3px solid var(--primary);
  border-bottom: none;
  border-radius: var(--btn-radius-small) var(--btn-radius-small) 0 0;
  padding: 10px var(--gutter);
}

.breadcrumbs ol {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.breadcrumbs li {
  text-transform: capitalize;
}

.breadcrumbs li a {
  text-decoration: none;
}

.breadcrumbs li a:hover {
  text-decoration: underline;
}

.breadcrumbs li:not(:first-child) {
  margin-left: calc(var(--gutter) / 2);
}

.breadcrumbs li:not(:first-child):before {
  content: "/";
  display: inline;
  margin-right: calc(var(--gutter) / 2);
  opacity: 0.5;
}

.breadcrumbs li:not(:last-child) a {
  opacity: 0.5;
}

.breadcrumbs li:not(:last-child) a:hover {
  opacity: 1;
}

@media (max-width: 1023px) {
  .cnt.cell-6 {
    order: 2;
  }
}

@media (min-width: 1024px) {
  .cnt.cell-6 {
    padding-right: var(--gutter);
    position: relative;
  }

  .wp-nav {
    position: -webkit-sticky;
    position: sticky;
    top: var(--v-small);
  }

  .wp-nav > ul {
    padding-left: 0;
  }

  .wp-nav a {
    border-radius: var(--btn-radius);
    display: inline-flex;
    padding: 7px 10px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }

  .entry .wp-nav > ul {
    padding-left: 0;
  }

  .wp-nav a:hover {
    transition: all 0.3s ease-in-out;
  }

  .wp-nav li:not(.active) a {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .wp-nav li:not(.active) a:hover {
    background-color: rgba(0, 0, 0, 0.25);
  }

  .wp-nav li.active > a {
    background-color: var(--primary);
    color: var(--negative);
  }
}

.entry ol,
.entry ul {
  padding-left: 20px;
}

.entry ol li,
.entry ul li {
  margin-bottom: 7px;
}

.entry ol li ol,
.entry ol li ul,
.entry ul li ol,
.entry ul li ul {
  margin-top: var(--v-small);
}

.entry ol li:not(:last-child) ol,
.entry ol li:not(:last-child) ul,
.entry ul li:not(:last-child) ol,
.entry ul li:not(:last-child) ul {
  margin-bottom: var(--v-small);
}

@media (min-width: 1024px) {
  .entry .cnt:after {
    background-color: var(--primary);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: calc(var(--gutter) * -1);
    top: 0;
    width: 1px;
  }
}

.entry .cnt > h1,
.entry .cnt > h2,
.entry .cnt > h3,
.entry .cnt > h4 {
  margin-bottom: calc(var(--v-medium) / 1.2);
}

.entry .cnt > h2,
.entry .cnt > h3,
.entry .cnt > h4 {
  margin-top: var(--v-medium);
}

.entry .cnt > hr {
  background-color: var(--primary);
  border-color: var(--primary);
  margin-top: var(--v-small);
}

.entry .cnt > figure:not(:last-child),
.entry .cnt > hr,
.entry .cnt > p:not(:last-child) {
  margin-bottom: var(--v-small);
}

.entry .cnt ol ol,
.entry .cnt ul ol {
  list-style-type: lower-roman;
}

.entry .cnt ol.as-table,
.entry .cnt ul.as-table {
  margin-bottom: var(--v-small);
}

.entry .cnt ol.as-table,
.entry .cnt ol.as-table ul,
.entry .cnt ul.as-table,
.entry .cnt ul.as-table ul {
  list-style-type: none;
  padding-left: 0;
}

.entry .cnt ol.as-table .heading,
.entry .cnt ul.as-table .heading {
  background-color: var(--light-blue);
  color: var(--primary);
}

.entry .cnt ol.as-table .heading ul li:not(:last-child),
.entry .cnt ul.as-table .heading ul li:not(:last-child) {
  border-color: var(--primary);
}

.entry .cnt ol.as-table > li:last-child ul,
.entry .cnt ul.as-table > li:last-child ul {
  border-bottom: 1px solid var(--primary);
}

.entry .cnt ol.as-table ul,
.entry .cnt ul.as-table ul {
  align-items: stretch;
  border-left: 1px solid var(--primary);
  border-right: 1px solid var(--primary);
  border-top: 1px solid var(--primary);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
}

.entry .cnt ol.as-table ul li,
.entry .cnt ul.as-table ul li {
  display: flex;
  padding: 10px;
  position: relative;
}

.entry .cnt ol.as-table ul li:not(:last-child),
.entry .cnt ul.as-table ul li:not(:last-child) {
  border-right: 1px solid var(--primary);
}

.entry .cnt ol.as-table ul li > span,
.entry .cnt ul.as-table ul li > span {
  align-self: center;
}

.entry .cnt ol.as-table li,
.entry .cnt ul.as-table li {
  margin-bottom: 0;
}

.entry .cnt ol.as-table .reduced,
.entry .cnt ul.as-table .reduced {
  align-items: center;
  cursor: pointer;
  display: flex;
  text-decoration: underline;
  width: 100%;
}

.entry .cnt ol.as-table .reduced #contract,
.entry .cnt ul.as-table .reduced #contract {
  direction: rtl;
  display: block;
  max-width: calc(100% - 26px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.entry .cnt ol.as-table .reduced .message,
.entry .cnt ul.as-table .reduced .message {
  background-color: var(--success);
  border-radius: var(--btn-radius);
  padding: 10px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.entry .cnt ol.as-table .reduced [data-ico],
.entry .cnt ul.as-table .reduced [data-ico] {
  margin-left: 10px;
}

.entry .cnt ol.as-table .reduced:hover,
.entry .cnt ul.as-table .reduced:hover {
  text-decoration: none;
}

.entry .cnt ol.checklist,
.entry .cnt ol.checklist ol,
.entry .cnt ol.checklist ul,
.entry .cnt ul.checklist,
.entry .cnt ul.checklist ol,
.entry .cnt ul.checklist ul {
  list-style-type: none;
  padding-left: 35px;
}

.entry .cnt ol.checklist li,
.entry .cnt ul.checklist li {
  position: relative;
}

.entry .cnt ol.checklist li.active:before,
.entry .cnt ul.checklist li.active:before {
  background-color: var(--primary);
}

.entry .cnt ol.checklist li.active:after,
.entry .cnt ul.checklist li.active:after {
  background-image: url(../media/check.69ac3173fed9241cb67b.svg);
}

.entry .cnt ol.checklist li:after,
.entry .cnt ol.checklist li:before,
.entry .cnt ul.checklist li:after,
.entry .cnt ul.checklist li:before {
  content: "";
  display: block;
  height: 20px;
  left: -35px;
  position: absolute;
  top: 0;
  width: 20px;
}

.entry .cnt ol.checklist li:before,
.entry .cnt ul.checklist li:before {
  border: 1px solid var(--primary);
}

.entry .cnt ol.checklist li:after,
.entry .cnt ul.checklist li:after {
  background-position: 50%;
  background-size: cover;
}

.entry .cnt ol {
  list-style-type: upper-roman;
}

.entry .cnt ul {
  list-style-type: square;
}

.entry figure img {
  width: 100%;
}

.breadcrumbs + .time-stamp {
  margin-bottom: var(--v-small);
  margin-top: var(--v-small);
}

.time-stamp {
  font-size: 12px;
  opacity: 0.5;
}

.sidebar [type="checkbox"],
.wp-nav [type="checkbox"] {
  display: none;
}

@media (max-width: 1023px) {
  .sidebar,
  .wp-nav {
    margin-bottom: var(--v-small);
  }

  .sidebar [type="checkbox"]:checked ~ label:after,
  .wp-nav [type="checkbox"]:checked ~ label:after {
    border-color: transparent transparent var(--primary) transparent;
    border-width: 0 4.5px 6px;
  }

  .sidebar [type="checkbox"]:checked ~ ul,
  .wp-nav [type="checkbox"]:checked ~ ul {
    max-height: 5000px;
    opacity: 1;
    padding-bottom: var(--v-small);
    padding-top: var(--v-small);
  }

  .sidebar label,
  .wp-nav label {
    align-items: center;
    border: 1px solid var(--primary);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 9.23077px 11.53846px;
    width: 100%;
  }

  .sidebar label:after,
  .wp-nav label:after {
    border-color: var(--primary) transparent transparent transparent;
    border-style: solid;
    border-width: 6px 4.5px 0;
    content: "";
    display: block;
    height: 0;
    width: 0;
  }

  .sidebar > ul,
  .wp-nav > ul {
    border: 1px solid var(--primary);
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
}

@media (min-width: 1024px) {
  .sidebar label,
  .wp-nav label {
    display: none;
  }
}

@media (max-width: 1023px) {
  .sidebar {
    order: 1;
  }
}

@media (min-width: 1024px) {
  .sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: var(--v-small);
  }

  .sidebar > ul > li > a:before {
    left: -57px;
  }

  .sidebar > ul > li > ul > li > a:before {
    left: -77px;
  }

  .sidebar li a {
    position: relative;
    text-decoration: none;
  }

  .sidebar li a:before {
    background-color: var(--global-bg);
    border: 1px solid var(--primary);
    content: "";
    display: block;
    height: 12px;
    position: absolute;
    top: 0;
    transition: all 0.2s ease-in-out;
    width: 12px;
  }

  .sidebar li a:hover {
    text-decoration: underline;
  }

  .sidebar li a:hover:before {
    background-color: var(--primary);
    transition: all 0.3s ease-in-out;
  }

  .sidebar li.active a {
    color: var(--primary);
  }

  .sidebar li.active a:before {
    background-color: var(--primary);
    border-color: var(--primary);
  }
}

.footer {
  padding-bottom: var(--v-medium);
  padding-top: var(--v-medium);
  position: relative;
}

.footer:before {
  background-color: var(--negative);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  margin-left: calc(var(--global-padding) * -1);
  margin-right: calc(var(--global-padding) * -1);
  position: absolute;
  top: 0;
  width: calc(var(--global-padding) * 2 + 100%);
  z-index: -1;
}

.footer .logo {
  height: 92px;
  width: 274px;
}

.footer .links {
  margin-bottom: var(--v-small);
}

.footer .info {
  font-size: 12px;
}

.footer .info > .copy :not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 767px) {
  .footer .submenu {
    margin-top: var(--v-small);
  }

  .footer .submenu li {
    margin-bottom: 3px;
  }
}

@media (min-width: 768px) {
  .footer .info,
  .footer .links {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .footer .submenu {
    display: flex;
    flex-flow: row wrap;
  }

  .footer .submenu a {
    background-color: var(--primary);
    border-radius: var(--btn-radius-small);
    color: var(--negative);
    padding: var(--btn-padding-opt);
    transition: all 0.2s ease-in-out;
  }

  .footer .submenu a:hover {
    background-color: var(--grey);
    transition: all 0.3s ease-in-out;
  }

  .footer .submenu li a {
    display: block;
  }

  .footer .submenu li:not(:last-child) {
    margin-right: 3px;
  }
}

@media (min-width: 1024px) {
  .footer .info > .copy :not(:last-child) {
    margin-right: 40px;
  }
}

@media (min-width: 1760px) {
  .footer:before {
    margin-left: calc(((100vw - 1760px) / 2 + var(--global-padding)) * -1);
    margin-right: calc(((100vw - 1760px) / 2 + var(--global-padding)) * -1);
    width: calc(100% + 100vw - 1760px + var(--global-padding) * 2);
  }
}

.navigation {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--gutter);
  margin-top: var(--gutter);
}

.navigation .logo {
  width: 208px;
}

.submenu a {
  text-decoration: none;
}

@media (min-width: 641px) {
  .submenu .hide {
    display: none;
  }
}

@media (max-width: 1023px) {
  .navigation {
    position: relative;
  }

  .navigation .quicklinks {
    display: none;
  }

  .navigation .submenu {
    background-color: var(--primary);
    border-radius: var(--btn-radius);
    color: var(--negative);
    max-width: 320px;
    opacity: 0;
    padding: var(--v-small);
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 100%;
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
    transition: all 0.2s ease-in-out;
    width: 100%;
    z-index: 999;
  }

  .navigation .submenu.active {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
  }

  .navigation .submenu li:not(:last-child) {
    margin-bottom: 10px;
  }

  .navigation .submenu a,
  .navigation .submenu a:hover,
  .navigation .submenu a:visited {
    color: inherit;
  }

  #menuToggle {
    align-items: center;
    display: flex;
    height: 54px;
    justify-content: center;
    padding: var(--btn-padding-sq);
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    z-index: 998;
  }

  #menuToggle.btn {
    margin-top: 0;
  }

  #menuToggle.btn:before {
    display: none;
  }

  #menuToggle.btn:after {
    left: 20px;
  }

  #menuToggle span {
    background-color: var(--primary);
    height: 2px;
  }

  #menuToggle.active {
    background-color: var(--green);
    box-shadow: inset 0 0 0 9px var(--h-green);
    pointer-events: none !important;
  }

  #menuToggle > span {
    -webkit-touch-callout: none;
    margin-left: auto;
    position: relative;
    width: 16px;
    z-index: 101;
  }

  #menuToggle > span span {
    display: block;
    position: absolute;
    width: 100%;
  }

  #menuToggle > span span:first-child {
    margin-top: -5px;
  }

  #menuToggle > span span:last-child {
    margin-top: 5px;
  }

  #menuToggle.active > span span {
    opacity: 0;
  }
}

@media (max-width: 640px) {
  .submenu {
    max-width: 100%;
  }

  .navigation .socials {
    display: none;
  }

  .navigation .submenu {
    max-width: 100%;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .navigation {
    justify-content: flex-end;
  }

  .navigation > * {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .submenu {
    display: flex;
  }

  .submenu a {
    background-color: var(--primary);
    border-radius: var(--btn-radius-small);
    color: var(--negative);
    padding: var(--btn-padding-opt);
    transition: all 0.2s ease-in-out;
  }

  .submenu a:hover {
    background-color: var(--grey);
    transition: all 0.3s ease-in-out;
  }

  .submenu li:not(:last-child) {
    margin-right: 3px;
  }

  .navigation .logo {
    height: 92px;
    width: 274px;
  }

  .navigation .logo:before {
    background-position: 50%;
  }

  .navigation .quicklinks {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  .navigation .socials {
    align-items: center;
    background-color: var(--primary);
    border-radius: 10px 40px 40px 10px;
    display: flex;
    flex-flow: row nowrap;
    padding: 7px;
    position: relative;
  }

  .navigation .socials:before {
    border-color: transparent var(--primary) transparent transparent;
    border-style: solid;
    border-width: 13px 13px 13px 0;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 0;
  }

  .navigation .socials .pink {
    font-size: var(--p-increased);
    line-height: 1;
    padding-left: 7px;
    padding-right: 7px;
  }

  .navigation .socials > :not(:last-child) {
    margin-right: 7px;
  }

  .navigation .circle {
    background-color: var(--gold);
    transition: all 0.2s ease-in-out;
  }

  .navigation .circle:hover {
    box-shadow: inset 0 0 0 6px var(--h-gold);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    transition: all 0.3s ease-in-out;
  }

  #menuToggle {
    display: none;
  }

  .flicer {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .finga {
    -webkit-animation: beat 0.25s infinite alternate;
    animation: beat 0.25s infinite alternate;
    margin-right: 10px;
    width: 5.9vw;
  }
}

@media (min-width: 1280px) {
  .navigation .logo {
    height: 92px;
    width: 274px;
  }
}

#error {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin-top: var(--v-large);
  text-align: center;
}

#error:after {
  border-bottom: 1px dashed hsla(0, 0%, 100%, 0.5);
  bottom: 0;
  content: "";
  display: block;
  height: 0;
  left: 5px;
  position: absolute;
  width: calc(100% - 10px);
}

[data-displace] {
  display: inline-block;
  position: relative;
}

[data-displace] span {
  display: block;
  width: 100%;
}

[data-displace] > span {
  overflow: hidden;
  position: relative;
}

[data-displace] > span > span {
  transition: all 0.2s ease-in-out;
}

[data-displace] > span > span:last-child {
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-120%);
  transform: translateY(-120%);
}

[data-displace]:hover > span > span:first-child {
  -webkit-transform: translateY(120%);
  transform: translateY(120%);
}

[data-displace]:hover > span > span:last-child {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

[data-displace] > a {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.uniswap-frame {
  width: 100%;
  max-width: 400px;
  display: block;
  margin-inline: auto;
  height: 510px;
}